main {
    max-width: 700px;
    margin: 20px auto;
    display: grid;
    gap: 20px;
}

.card {
    background-color: var(--card-bg-color);
    border-radius: 8px;
    padding: 20px;
    box-shadow: var(--shadow);
    transition: background-color 0.3s;
}

#task-form {
    display: flex;
    gap: 10px;
}

#task-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid var(--gray-color);
    border-radius: 5px;
    font-size: 1rem;
    background-color: var(--bg-color);
    color: var(--text-color);
}


#task-list {
    list-style-type: none; 
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid var(--gray-color);
    cursor: pointer;
    transition: background-color 0.2s;
}

.task-item:last-child {
    border-bottom: none;
}

.task-item:hover {
    background-color: rgba(0, 0, 0, 0.03);
}

.task-item.completed {
    text-decoration: line-through;
    color: var(--success-color);
    opacity: 0.7;
}

.task-item.completed button {
    background-color: var(--danger-color);
    text-decoration: none;
    color: white;
    opacity: 1;
}